<p>reactive-form works!</p>

<div class="center-container">
  <div class="d-flex flex-column align-items-center">

    <form [formGroup]="logInForm" (ngSubmit)="onSave()" class="w-100" style="max-width: 500px;">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="text-center text-primary">LogIn Form</h4>
          <hr>
          <div>
            <label for="email">Email Id</label>
            <input id="email" type="email" placeholder="Enter the Email" formControlName="email"
              class="form-control form-control-sm">
            <div *ngIf="getEmail()?.touched && getEmail()?.invalid" class="text-danger">
              <span *ngIf="getEmail()?.errors?.['required']"><small>Email Id is required...</small></span>
              <span *ngIf="getEmail()?.errors?.['email']">
                <small>Enter a valid email Id</small>
              </span>
            </div>
          </div>
          <div class="mt-3">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter the Password" formControlName="password"
              class="form-control form-control-sm">
            <div *ngIf="getPassword()?.touched && getPassword()?.invalid" class="text-danger">
              <span *ngIf="getPassword()?.errors?.['required']"><small>Password is required</small></span>
              <span *ngIf="getPassword()?.errors?.['minlength']"><small>Password should be at least 6
                  characters.</small></span>
            </div>
          </div>
          <button type="submit" class="btn btn-success w-100 mt-4" [disabled]="logInForm.invalid">Submit</button>
        </div>
      </div>
    </form>

    <div class="card w-100" style="max-width: 600px;">
      <div class="card-header bg-primary text-white">
        Location List
      </div>
      <div class="card-body">
        <app-my-table [colArray]="['Location Name','code','Action']"></app-my-table>
      </div>
    </div>

  </div>
</div>
